<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img id="space" class="img-responsive" src="<%= campground.image %>">
            </div>
        </div>
            <div class="col-md-6">
                <div class="well">
            <div class="col-md-4 col-xs-4">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= campground.image1 %>">
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= campground.image2 %>">
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                    <div class="thumbnail">
                        <img class="img-responsive" src="<%= campground.image3 %>">
                    </div>
            </div>
                <div class="caption-full">
                    <h4 class="pull-right">R<%= campground.price %></h4>
                    <h4><a><%=campground.name%></a></h4>
                    <p><%= campground.description %></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                     <% }%>
                </div>
                    <div class="text-right">
                        <a class="btn btn-success" href="/<%= campground._id %>/comments/new">Comment</a>
                </div>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong><em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em></strong>
                            </p>
                                <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%= comment.text %> 
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                 href="/<%=campground._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form class="delete-form" action="/<%=campground._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div> 
    </div>
</div>
<% include ./partials/footer %>